.logo-custome {
    width: 186px !important;
    height: 36px !important;
}

.nav-item-custome {
    color: #d3d3d3 !important;
    font-size: 18px !important;
    font-family: Arial, Helvetica, sans-serif!important;

}

#heading-one-custome{
    color: #6851ff !important;
    font-size: 64px !important;
    font-family: Roboto, Helvetica, Arial, sans-serif!important;
    /* margin-top: 50px !important; */
    font-weight: 700 !important;
}

#heading-text {
    color: #000000;
    font-family: sans-serif;
    /* padding-top: 16px; */
    font-size: 20px;
    letter-spacing: 0.1876px !important;
    line-height: 30px !important;
    text-size-adjust: 100%;
}


.search-custome {
    width: 418px !important;
    height: 45px !important;
    border: 1px solid rgb(162, 161, 161) !important;
    border-right: none !important;
}

#last-img-btn {
    color: #6851ff;
    padding: 5px 15px !important;
    font-family: Roboto, Helvetica, Arial, sans-serif!important;
    font-size: 18px !important;
    text-align: center !important;
    cursor: pointer !important;
    line-height: 1.75 !important;
    font-weight: 600 !important;
    border: 1px solid #c3bbfa !important;
    border-radius: 20px !important;
}
    

.search-btn-custome-pic{
    background-color: white !important;
    border-left: none !important;
    border-right: 1px solid rgb(162, 161, 161) !important;
    border-bottom: 1px solid rgb(162, 161, 161) !important;
    border-top: 1px solid rgb(162, 161, 161) !important;
    width: 40px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.search-btn-custome {
    background-color: #6851ff !important;
    color: white !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    font-family: Roboto, Helvetica, Arial, sans-serif!important;
    width: 130px !important;
    height: 45px !important;
    margin-left: 20px !important;
    border-radius: 20px !important;
}

.button-heading-custome {
    color: #6851ff !important;
    font-size: 30px !important;
    font-family: Roboto, Helvetica, Arial, sans-serif!important;
    font-weight: 700 !important;
}

#button-custome {
    text-align: center !important;
    background-color: transparent !important;
    cursor: pointer !important;
    font-family: Roboto, Helvetica, Arial, sans-serif!important;
    font-size: 0.875rem !important;
    line-height: 1.75 !important;
    letter-spacing: 0.02857rem !important;
    padding: 5px 15px !important;
    border: 1px solid rgba(104, 81, 255, 0.5) !important;
    font-weight: 700 !important;
    color: #6851ff !important;
    white-space: nowrap !important;
    border-radius: 50px !important;
    margin-bottom: 20px !important;
    margin-left: 5px;

}

.first-image-custome {
    margin-top: -90px !important;
}

.cards-heading-custome {
    font-size: 48px !important;
    font-family: Roboto, Helvetica, Arial, sans-serif!important;
    color: #3f3f3f !important;
}

.card-heading-text-custome{
    font-size: 20px !important;
    font-family: Roboto, Helvetica, Arial, sans-serif!important;
    color: #313131 !important;
}

#cards-custome{
    gap: 20px !important;
    /* margin-left: 12% !important;
    margin-right: 12% !important; */
}

#cards-custome-each {
    border: 2px solid #6851ff;
    border-radius: 10px !important;
    /* padding: 16px 26px !important; */
    height: 220px !important;
}

#cards-heading {
    color: #6851ff;
    font-family: Roboto, Helvetica, Arial, sans-serif!important;
    line-height: 1.5 !important;
    font-weight: 600 !important;
}

#cards-custome-each-text {
    color: #3f3f3f;
    font-size: 16px !important;
    font-family: Roboto, Helvetica, Arial, sans-serif!important;
}

#cards-custome-each-text-second{
    color: #6c6c6c !important;
    font-size: 18px !important;
    font-family: Roboto, Helvetica, Arial, sans-serif!important;

}

#Anonymous {
    font-size: 16px !important;
    font-family: Roboto, Helvetica, Arial, sans-serif!important;
    color: #000000 !important;
}

#designation {
    font-size: 16px !important;
    font-family: Roboto, Helvetica, Arial, sans-serif!important;
    color: #000000 !important;
    line-height: 1.5 !important;
    font-weight: 700 !important;
}

#salary {
    color: #4d3bdb !important;
    font-size: 16px !important;
    font-family: Roboto, Helvetica, Arial, sans-serif!important;
    line-height: 1.5 !important;
    font-weight: 600 !important;
}

#job-d {
    font-size: 15px !important;
    font-family: Roboto, Helvetica, Arial, sans-serif!important;
    color: #313131 !important;

}

#j-d {
    font-weight: 600 !important;
    font-size: 15px !important;
    color: #313131 !important;
    font-family: Roboto, Helvetica, Arial, sans-serif!important;

}

#job-btn {
    color: #ffffff !important;
    background-color: #6851ff !important;
    font-size: 15px !important;
    font-family: Roboto, Helvetica, Arial, sans-serif!important;
    padding: 6px 16px !important;
    text-align: center !important;
    cursor: pointer !important;
    border: 2px solid #6851ff !important;
    gap: 20px !important;
    border-radius: 20px !important;
    font-weight: 700 !important;
    line-height: 1.75 !important;
}

#timing {
    font-size: 16px !important;
    font-family: Roboto, Helvetica, Arial, sans-serif!important;
    color: #3f3f3f !important;
}

#card-job {
    border: 2px solid #6851ff !important;
    background-color: #ffffff;
    border-radius: 20px !important;
}

#footer {
    background:linear-gradient(180deg, #4d3bdb, #9747ff 100%);
    height: 412px !important;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid #d3d3d3;

}

#logo-footer {
    width: 397px !important;
    height: 250px !important;
}

#footer-para {
    color: #ffffff;
    padding: 10px 0px 0px 0px;
    font-size: 16px !important;
    font-family: Roboto, Helvetica, Arial, sans-serif!important;
}

#footer-follow {
    color: #ffffff;
    font-size: 18px !important;
    font-weight:600;
    font-family: Roboto, Helvetica, Arial, sans-serif!important;
}

#footer-icon {
    color: #ffffff;
    font-size: 1.8rem;
    margin-top: -20px;
}

#footer-last {
    height: 65px !important;
    background-color: #9747ff;
    color: #ffffff !important;
    text-align: center;
    font-size: 18px !important;
    font-family: Roboto, Helvetica, Arial, sans-serif!important;
    padding: 8px 0px !important;
    /* font-weight: 600; */
}



/* Job Page */

#jobInputSection {
    width: 70%;
    border: 1px solid rgb(163, 155, 155);
    height: auto;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    justify-content: center;
    gap: 4px;
    border-radius: 5px;
}

#jobManual {
    border-right: 2px solid rgb(150, 144, 144);
    padding: 4px 10px;
    font-weight: 600;
    font-size: 1rem;
}

#jobInputSection input {
    width: 90%;
    border: none;
    outline: none;
    padding: 0px 15px;
}

#jobInputSection i {
    color: #4d3bdb;
    font-size: 1.4rem;
    border-left: 2px solid rgb(150, 144, 144);
    padding: 4px 10px;
}

.jobBg{
    border: 1px solid rgb(231, 219, 219);
    padding: 15px;
}

.jobDesc{
        width: 500px;
}
 .mt{
    margin-top: -10px;
 }

 .mb{
    margin-bottom: 10px;
 }

.mb1{
    margin-bottom: -10px;
}
.mb2{
    margin-bottom: 50px;
    color: blue;
}

.location{
    font-weight: 500;
}

.salary{
    font-weight: 500;
}





